// importar fuente

ion-slides {
    height: 100%;
    --bullet-background: rgb(0, 0, 0);
    --bullet-background-active: rgb(51, 58, 153);
}

#estadoLentillas {
    visibility: hidden;
    display: none;
}
#mensajeNoLentillas {
    visibility: hidden;
}

#mostrarDias {
    visibility: hidden;
    display: none;
}
#mostrarError {
    visibility: hidden;
    display: none;
}
#menuLiq {
    visibility: hidden;
    display: none;
}

#menuIniLiq {
    visibility: hidden;
    display: none;
}

.item-has-focus{
    --highlight-background: #f9a825;
 }