<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{nomLista}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar id="progressBa" type="indeterminate"></ion-progress-bar>
  <ion-slides id="contSlider" pager="true" [options]="slideOpts">

    <ion-slide>
      <div class="slides">
        <img style="width: 30%" src="https://emslieoptical.com.au/img/0042/363.png"/>
        <h2>Lentillas</h2>
        <div id="estadoLentillas">
          <h3>Estado de las lentillas:<a id="colorEstado">{{estadoLen}}</a></h3>
          <p>Fecha: {{this.dbUsuarios.data.dia}}/{{this.dbUsuarios.data.mes}}/{{this.dbUsuarios.data.year}}</p>
          <ion-grid>
            <ion-row>
              <ion-col>
                <div>Dias de uso: {{this.dbUsuarios.data.diasUso}}</div>
              </ion-col>
              <ion-col>
                <div><ion-button (click)="res()"><ion-icon name="remove-circle-outline"></ion-icon></ion-button> <ion-button (click)="sum()"><ion-icon name="add-circle-outline"></ion-icon></ion-button></div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col id="mostrarDias">
                <div>Dias restantes liquido: {{this.dbUsuarios.data.diasCad}}</div>
              </ion-col>
              <ion-col id="mostrarError">
                <div>No hay liquido registrado</div>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-button (click)="comenzarLent()">Nuevas Lentillas</ion-button>
          <ion-button fill="clear"><h3><b>{{text}}</b></h3></ion-button>
        </div>
        <div id="mensajeNoLentillas">
          <h3>No hay lentillas registradas</h3>
          <ion-button (click)="comenzarLent()">Comenzar</ion-button>
        </div>
       
      </div>
    </ion-slide>


    <ion-slide>
      <div class="slides">
        <img style="width: 30%" src="https://cdn0.iconfinder.com/data/icons/medical-and-health-cool-vector-3/128/108-512.png"/>
        <h2>Liquido</h2>
        <ion-grid id="menuLiq">
          <!-- fecha inicio -->
          <ion-row>
            <ion-col>
              <div>Fecha en la que se abrió: </div>
            </ion-col>
            <ion-col>
              <div>{{this.dbUsuarios.data.fechIniC}}</div>
            </ion-col>
          </ion-row>
          <!-- fecha inicio -->
          <ion-row>
            <ion-col>
              <div>Fecha máxima producto: </div>
            </ion-col>
            <ion-col>
              <div>{{this.fechaFinal}}</div>
            </ion-col>
          </ion-row>
          <!-- dias restantes -->
          <ion-row>
            <ion-col>
              <div>Días restantes: </div>
            </ion-col>
            <ion-col>
              <div>{{this.dbUsuarios.data.diasCad}}</div>
            </ion-col>
          </ion-row>
          <ion-button (click)="newLiq()">Nuevo Liquido</ion-button>
        </ion-grid>
        
        <!-- datepicker -->
        <div id="menuIniLiq">
          <ion-item>
            <ion-label>Selecciona fecha inicio:</ion-label>
            <ion-datetime [(ngModel)]="mydate" color="primary" display-format="DD MMM, YYYY" (ionChange)="changeDate()" type="number"></ion-datetime>
          </ion-item>
          <div id="botCad">
            <ion-item>
              <ion-label>Días de caducidad:</ion-label>
              <ion-input [(ngModel)]="caDias" placeholder="90" type="number"></ion-input>
            </ion-item>
            <ion-button (click)="comenzarLiq(mydate, caDias)">Comenzar</ion-button>
          </div>
         
        </div>
      </div>
    </ion-slide>

  </ion-slides>
  
</ion-content>
