<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{nomLista}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar id="progressBa" type="indeterminate"></ion-progress-bar>
  <ion-slides id="contSlider" pager="true" [options]="slideOpts">

    <ion-slide>
      <div class="slides">
        <img style="width: 30%" src="https://emslieoptical.com.au/img/0042/363.png"/>
        <h2>Lentillas</h2>
        <div id="estadoLentillas">
          <h3>Estado de las lentillas:<a id="colorEstado">{{estadoLen}}</a></h3>
          <p>Fecha: {{this.dbUsuarios.data.dia}}/{{this.dbUsuarios.data.mes}}/{{this.dbUsuarios.data.year}}</p>
          <ion-grid>
            <ion-row>
              <ion-col>
                <div>Dias de uso: {{this.dbUsuarios.data.diasUso}}</div>
              </ion-col>
              <ion-col>
                <div><ion-button (click)="res()"><ion-icon name="remove-circle-outline"></ion-icon></ion-button> <ion-button (click)="sum()"><ion-icon name="add-circle-outline"></ion-icon></ion-button></div>
              </ion-col>
            </ion-row>
            <!-- liquido -->
            <ion-row>
              <ion-col id="mostrarDias">
                <div>Dias restantes liquido: {{this.dbUsuarios.data.diasLiq}}</div>
              </ion-col>
              <ion-col id="mostrarError">
                <div>No hay liquido registrado</div>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-button (click)="comenzarLent()">Nuevas Lentillas</ion-button>
          <ion-button fill="clear"><h3><b>{{text}}</b></h3></ion-button>
        </div>
        <div id="mensajeNoLentillas">
          <h3>No hay lentillas registradas</h3>
          <ion-button (click)="comenzarLent()">Comenzar</ion-button>
        </div>
       
      </div>
    </ion-slide>


    <ion-slide>
      <div class="slides">
        <img style="width: 30%" src="https://cdn0.iconfinder.com/data/icons/medical-and-health-cool-vector-3/128/108-512.png"/>
        <h2>Liquido</h2>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>1 of 2</div>
            </ion-col>
            <ion-col>
              <div>2 of 2</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-slide>

  </ion-slides>
  
</ion-content>
