<ion-content>
  <ion-slides id="contSlider" pager="true" [options]="slideOpts" (ionSlideDidChange)="slideChanged()">

    <ion-slide>
      <div class="slides">
        <img src="https://img.icons8.com/bubbles/2x/share.png"/>
        <h2>Bienvenido</h2>
        <p>Con esta aplicación podrás <b>compartir</b> el estado de tus series y películas</p>
        <ion-button (click)="goHome()" fill="clear"><h3><b>{{text}}</b></h3></ion-button>
      </div>
    </ion-slide>


    <ion-slide>
      <div class="slides">
        <img style="width: 150px;" src="https://cdn.iconscout.com/icon/free/png-256/star-bookmark-favorite-shape-rank-11-16809.png"/>
        <h2 style="padding-top: 50px;">Puntúa</h2>
        <p>Puntúa tus series y películas, y comparte la puntuación con tus amigos</p>
      </div>
    </ion-slide>


    <ion-slide>
      <div class="slides">
      <img src="https://readylogistics.com/app/uploads/2016/03/ready-icons-pricing.png"/>
      <h2>Ready to Play?</h2>
      <ion-button (click)="goHome()" fill="clear"><h3><b>{{text}}</b></h3> <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </div>
    </ion-slide>

  </ion-slides>
</ion-content>
