<ion-content>
  <ion-slides id="contSlider" pager="true" [options]="slideOpts" (ionSlideDidChange)="slideChanged()">

    <ion-slide>
      <div class="slides">
        <img src="https://3.bp.blogspot.com/-6a5xQz4M4xE/UZZ2SlW4tzI/AAAAAAAAHiY/mQhyzxHdl6I/s320/8A5.gif"/>
        <h2>Bienvenido</h2>
        <p>Esto es una prueba para ver si funciona en ios, y si funciona un milagro</p>
        <ion-button (click)="goHome()" fill="clear"><h3><b>{{text}}</b></h3></ion-button>
      </div>
    </ion-slide>


    <ion-slide>
      <div class="slides">
        <img style="width: 150px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Xiaomi_logo.svg/768px-Xiaomi_logo.svg.png"/>
        <h2 style="padding-top: 50px;">Cámbiate de móvil</h2>
        <p>Lo mejor y lo mas acertado seria que te comprases un xiaomi bueno y dejases esa porquería</p>
      </div>
    </ion-slide>


    <ion-slide>
      <div class="slides">
      <img style="width: 300px;" src="https://i.pinimg.com/736x/97/02/40/97024048d60e932acecedb6817be557c.jpg"/>
      <h2>Y mas en ios</h2>
      <ion-button (click)="goHome()" fill="clear"><h3><b>{{text}}</b></h3> <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </div>
    </ion-slide>

  </ion-slides>
</ion-content>
