<ion-content>
  <ion-slides id="contSlider" pager="true" [options]="slideOpts" (ionSlideDidChange)="slideChanged()">

    <ion-slide>
      <div class="slides">
        <img src="https://d26hhearhq0yio.cloudfront.net/content/misterspex/icons/Icons-2020/contact-lenses1.png"/>
        <h2>Bienvenido</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <ion-button (click)="goHome()" fill="clear"><h3><b>{{text}}</b></h3></ion-button>
      </div>
    </ion-slide>


    <ion-slide>
      <div class="slides">
        <img style="width: 150px;" src="https://d26hhearhq0yio.cloudfront.net/content/misterspex/icons/Icons-2020/contact-lenses1.png"/>
        <h2 style="padding-top: 50px;">Lorem ipsum</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam excepturi rem a, ut magnam, et praesentium quod itaque quasi amet voluptate doloremque</p>
      </div>
    </ion-slide>


    <ion-slide>
      <div class="slides">
      <img style="width: 300px;" src="https://d26hhearhq0yio.cloudfront.net/content/misterspex/icons/Icons-2020/contact-lenses1.png"/>
      <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi minima odio omnis tenetur aperiam ipsa nemo mollitia suscipit. Animi iste atque saepe iusto quas</h2>
      <ion-button (click)="goHome()" fill="clear"><h3><b>{{text}}</b></h3> <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </div>
    </ion-slide>

  </ion-slides>
</ion-content>
