<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-progress-bar id="progressBI" type="indeterminate"></ion-progress-bar>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Listas  -->
  <ion-item *ngFor="let arrayLista of dbUsuarios.data.listas">
    <mat-card style="width: 90%;" (click)="goLista(arrayLista)">{{arrayLista}}</mat-card><ion-icon (click)="borrarLista(arrayLista)" style="position: absolute; right: 30px;" name="trash-outline"></ion-icon>
  </ion-item>
  <!-- Mensaje si no hay listas -->
  <div id="container" style="visibility: hidden;">
    <strong>No  hay ninguna lista creada</strong>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" id="nuevo" (click)="clicNuevo()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>